@charset="utf-8"
*{
	margin: 0px;
	padding: 0px;
}
.container{
    position: relative;
    width: 298px;
}
.tab{
	margin-top: 25px;
	margin-left: 37px;
	font-weight: bold;
}
.tab tr:first-child{
	background-color: #000;
	color: #FFF;
}
.tab tr:nth-child(2),
.tab tr:nth-child(3),
.tab tr:nth-child(4){
	color: red;
}
.tab tr:nth-child(2n+3){
	background-color: #CCCCCC;
}
.input1{
	width: 100px;
	height: 20px;
	padding:0px;
	box-sizing: border-box;
	position: relative;
	display: block;
	top: 60px;
	margin-left: auto;
	margin-right: auto;
	transition-property: all;
	-webkit-transition-property:all;
	transition-duration: 1s;
	-webkit-transition-duration:1s;
}
.input1:focus{
	width: 200px;
	box-shadow: 0 0 10px blue;
}
.input2{
	width: 200px;
	height: 20px;
	padding: 0px;
	box-sizing: border-box;
	position: relative;
	display: block;
	top:100px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 20px blue;
}
.scroll{
	width: 280px;
	height: 150px;
	position: absolute;
	top: 450px;
	left: 10px;
	overflow: hidden;
	background-color: #008100;
}
.scroll .scroll_itme{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.scroll .scroll_itme>li{
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
    animation: 0.5S slider-out linear;
}
.scroll .scroll_itme>li:target{
	left: 0%;
	animation: 0.5s slider-in linear;
}
@keyframes slider-out{
	0%{
		left: 0%;
		background-color: #008100;
	}
	50%{
		left: 50%;
		background-color: #0100FE;
	}
	100%{
		left: 100%;
		background-color: #0100FE;
	}
}
@keyframes slider-in{
	0%{
		left: 0%;
		background-color: #008100;
	}
	50%{
		left: 50%;
		background-color: #0100FE;
	}
	100%{
		left: 100%;
		background-color: #0100FE;
	}
}
#itme1{
    background-color: #008100;
}
#itme3{
	background-color: #0100FE;
}
.tag{
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin: 0px;
}
.tag li{
	float: left;
	list-style-type: none;
	margin-left: 4px;
}
.tag li>a{
	display: inline-block;
	width: 28px;
	height: 28px;
	text-decoration: none;
	color: #FFF;
	background: rgba(225, 225, 225, .5);
	text-align: center;
	line-height: 28px;
}